<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>tw.adahsu.checkWifiSSID</string>

		<key>Program</key>
    	<string>~/tools/auto_switch_location.sh</string>	
		<!-- 
		<key>ProgramArguments</key>
		<array>
			<string>/bin/zsh</string>
			<string>-c</string>
			<string>~/tools/auto_switch_location.sh</string>
		</array> 
		-->
		<key>WatchPaths</key>
		<array>
			<string>/Library/Preferences/SystemConfiguration/com.apple.airport.preferences.plist</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>